/* typography */
$font-base: 'Source Sans Pro', sans-serif;
$font-accent: 'Alfa Slab One', cursive;
$line-height: 1.2;
$font-size-base: 1.2rem;

/* colours */
$accent-colour: #FF7970;
$text-colour: rgba(33,33,33,1);