@import 'reset';
@import 'variables';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 2vh auto;
    display: block;
    width: 75%;
    max-width: 1024px;
    font-family: $font-base;
    line-height: $line-height;
    font-size: $font-size-base;
    color: $text-colour;
}

a {
    color: $accent-colour;
}

#site-title {
    color: $accent-colour;
    font-weight: 700;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.colour-alt {
    color: $text-colour;
}

.entry {
    margin: 3rem 0; 
}

.entry-title {
    font-size: 3rem;
}

.position,
.song-name,
.song-meta {
    font-weight: 700;
}

.meta-label {
    font-weight: 400;
    color: lighten($text-colour, 60%);
}

.accent-colour {
    color: $accent-colour;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0;
}

.flex-container {
    display: flex;
    & .album-cover {
        flex: 0 0 250px;
        margin-right: 2em;
    }
}

.small-text {
    font-size: $font-size-base;
    line-height: 1;
    margin-top: 0.5em;
}

.divider {
    margin: 0 0.5rem;
    font-weight: 700;
    color: $accent-colour;
}

.position {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.song-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.soong-meta {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.flex-container_flex-start {
    display: flex;
    justify-content: flex-start;
    & .flex-item {
        margin-right: 2em;
    }
}

.blurb {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 720px;
}

p {
    margin: 1em 0;
    line-height: 1.8;
    font-size: $font-size-base * 1.2;
}

img {
    width: 100%;
    height: auto;
}

.section-header {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 110%;
}

.song-navigation {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 1rem;
}

.song-navigation_bottom {
    margin-top: 3rem;
}

.grid-container_media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

iframe {
    margin-bottom: 1em;
    width: 100% !important;
}

.image-caption {
    font-size: 80%;
    margin: 0;
}