@import 'reset';
@import 'variables';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 2vh auto;
    display: block;
    width: 75%;
    max-width: 960px;
    font-family: $font-base;
    line-height: $line-height;
    font-size: $font-size-base;
    color: $text-colour;
}

#site-header {
    & a {
        color: inherit;
        text-decoration-color: $accent-colour !important;
    }
}

#site-title {
    color: $accent-colour;
    font-weight: 700;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.colour-alt {
    color: $text-colour;
}

.entry {
    margin-top: 2rem; 
}

.entry-title {
    font-size: 3.5rem;
}

.position,
.song-name,
.song-meta {
    font-weight: 700;
}

.meta-label {
    font-weight: 400;
    color: lighten($text-colour, 60%);
}

.accent-colour {
    color: $accent-colour;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0;
}

.small-text {
    font-size: $font-size-base;
    line-height: 1;
    margin-top: 0.5em;
}

.divider {
    margin: 0 0.5rem;
    font-weight: 700;
    color: $accent-colour;
}

.position {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.song-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.soong-meta {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.flex-container_flex-start {
    display: flex;
    justify-content: flex-start;
    & .flex-item {
        margin-right: 2em;
    }
}

p {
    margin-bottom: 1em;
    line-height: 1.8;
    font-size: $font-size-base * 1.2;
}