@import 'reset';
@import 'variables';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 2vh auto;
    display: block;
    width: 75%;
    max-width: 1024px;
    font-family: $font-base;
    line-height: $line-height;
    font-size: $font-size-base;
    color: $text-colour;
}

a {
    color: $accent-colour;
}

#site-title {
    color: $accent-colour;
    font-family: 'Oswald', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.colour-alt {
    color: $text-colour;
}

.entry {
    padding: 3rem 0; 
}

.entry-title {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.position,
.song-name,
.song-meta {
    font-weight: 700;
}

.artist-label {
    font-weight: 400;
    color: $accent-colour;
}

.accent-colour {
    color: $accent-colour;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
}

.flex-container {
    display: flex;
    & .album-cover {
        flex: 0 0 250px;
        margin-right: 2em;
    }
}

.divider {
    margin: 0 0.5rem;
    font-weight: 700;
    color: $grey-colour;
}

.position {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.song-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.artist {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: lighten($text-colour,60%);
    font-size: 80%;
}

.flex-container_flex-start {
    display: flex;
    justify-content: flex-start;
    & .flex-item {
        margin-right: 2em;
    }
}

/*.blurb {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 720px;
}*/

.blurb p {
    margin-bottom: 1em;
    line-height: 1.8;
    font-size: $font-size-base * 1.2;
}

.small-text {
    font-size: $font-size-base;
    line-height: 1;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.section-header {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 110%;
}

.song-navigation {
    font-size: 90%;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
}

.song-navigation_bottom {
    margin-top: 3rem;
}

.flex-container_media {
    display: flex;
    & div {
        margin-right: 0.5rem;
    }
}

.image-caption {
    font-size: 80%;
    margin: 0;
    padding-bottom: 1rem;
}

.media {
    border-top: 2px solid $grey-colour;
    padding: 1rem 1rem 1rem 0;
    width: auto;
    & img {
        height: 35px;
        width: 35px;
    }
    & .youtube img {
        height: 35px;
        width: auto;
    }
}

.song-navigation_bottom {
    clear: both;
}

.song-content {
    margin-top: 2em;
}

.grid-container_song-content {
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 4rem;
}

.sticky-item {
    position: sticky;
    top: 2rem;
    & img {
        margin-bottom: 1rem;
    }
}

.accent-colour {
    color: $accent-colour;
}

.bold-text {
    font-weight: 700;
}